# Dependencies
node_modules/

# Build output
dist/
*.tsbuildinfo

# Vite cache
.vite/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
